/* base */
html{
	font-size: 10px;
	line-height: 1.5;
	font-family: sans-serif;
}
body{
	margin: 0;
	overflow: hidden;
}
/* document */
canvas{
	background-color: black;
	box-sizing: border-box;
}
p.score{
	position: fixed;
	top: 1rem;
	right: 4rem;
	font-size: 4rem;
	background-color: green;
}