/* base */
html{
	font-size: 10px;
	line-height: 1.5;
	font-family: sans-serif;
}
body{
	margin: 0;
	overflow: hidden;
}
/* document */
canvas{
	background-color: black;
	box-sizing: border-box;
}
p.score{
	top: 5rem;
	right: 3rem;
	position: fixed;
	font-size: 2rem;
	background-color: green;
}
h2.lives{
	top: 1rem;
	right: 3rem;
	position: fixed;
	font-size: 2rem;
	background-color: green;
}
.highscore{
	top: 9rem;
	right: 3rem;
	position: fixed;
	font-size: 2rem;
	background-color: green;
}